@import "../../index.scss";

.left-menu {
    width: 100%;
    max-width: 200px;
    background-color: rgb(134, 179, 245);
    text-align: center;
    overflow: hidden;
    // padding: 20px;
    overflow-wrap: break-word;   
    &__button { 
        width: 100%;
        margin-top: 20px;   
        color: black; 
        padding: 8px;
        background-color: rgba(255, 255, 255, 0.172);
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: rgba(255, 255, 255, 0.6);
            cursor: pointer;
        }
        &_active {
            background-color: rgb(255, 255, 255);
        }
    }
    &__pencil-img{
        width: 10%;
    }
}

.projects-list {
    margin-top: 40px;  
    
    & li {
        margin-top: 10px;
        padding-right: 35px; 
        max-height: 50px; 
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-height: 50px; 
    }
    &:hover {
        cursor: pointer;
    }
    &__cover {
        display: flex;  
        position: relative;
    }
    &__pencil-img{
        visibility: hidden;
        width: 8%;
        top: 20px;
        right: 0px;
        position: absolute; 
    }
}
.popup__left-menu {
    background-color: rgba(0, 0, 0, 0.254);
}
.popup-inner_left-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: fit-content;
    padding-top: 30px;
    width: 80%;
    max-width: 400px;
    height: 300px;

    & input {
        margin-top: 15px;
        padding: 7px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid black;
    }
}
.left-menu__buttons {
    display: flex; 
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;

    & button {
        border: 1px solid black;
        width: 100px;  
    }
}

.projecPopup__input {
    margin-top: 15px;
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

@media screen and (max-width: 600px) {
    .left-menu {
         display: flex; 
         flex-direction: column;
         max-width: 100%;
         & h2 {
            display: none;
         }
    }
    .projects-list__pencil-img {
        width: 3%;
    }
}