@import "../../index.scss";

.workzone {
    width: 100%;
    min-height: 95vh;  
    overflow-y: hidden; 
    overflow-x: auto;
    background-color: rgba(0,0,0,0.09);
  

}
.tasks {
    display: flex;
    max-width: 95%;
    gap: 30px; 
    margin-top: 30px;
    margin-left: 30px;
    width: 100%;
    max-height: 90vh;
    height: 100%; 
    overflow-y: auto;

    &__item {
        display: flex;
        max-width: 300px;
        flex-direction: column; 
        border-radius: 7px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.42);
        align-items: center;
        background: rgb(134, 179, 245);
        height: fit-content;
        padding-bottom: 20px;
    }
    &__button {
        margin-top: 10px;
        background: transparent;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.307);  
        color: #1f1f38;
        cursor: pointer;
        display: inline-block;
        font-size: 10px;
        padding: 6px 6px;
        transition: all .4s ease; 
        width: max-content; 

        &:hover { 
            background: white;
        }
    }
}
.task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 400px; 
    min-height: 120px;   
    border-radius: 15px;
    height: fit-content;
    max-height: 100%;
    padding: 20px 20px;
    overflow-y: auto;  
    
    &__title {
        text-align: center; 
    } 
   
}

@media screen and (max-width: 1250px) {
    .tasks {
        flex-direction: column;
        align-items: center;
    }
    
}
@media screen and (max-width: 600px) {
    .tasks {  
        margin-left: 10px;
    }
    
}
 
 